{{ define "main" }}
<section class="section has-background-grey-light">
    <div class="container">
        <h1 class="title">{{.Title}}</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Link</td>
                </tr>
            </thead>
            <tbody>

                {{ range .Pages }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td><a href="{{ .Permalink}}" class="button is-link">Open</a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</section>
{{ end }}