{{ define "main" }}
<section class="hero has-background-white-bis">
    <div class="container">
        <figure>
            <img src="open-filament-header-vignette.jpg">
        </figure>
        <div class="hero-body">
            <p class="title">
                {{.Title}}
            </p>
            <div class="content">
                {{.Content}}
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">

        <h1 class="title">Producers</h1>
        <h2 class="subtitle">
            See a list of producer's.
        </h2>
        {{ range (.Site.GetPage "section" "producers").Sections }}
        <a href="{{.Permalink}}" class="button">{{.Title}}</a>

        {{ end }}
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">How-To's</h1>
        <h2 class="subtitle">
            You want to learn how it work's or how to contribute. Follow one of the links below.
        </h2>
        {{ range (.Site.GetPage "section" "howtos").Pages }}
        <a href="{{.Permalink}}" class="button">{{.Title}}</a>

        {{ end }}
    </div>
</section>

{{ end }}