{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="section">
    <div class="container">
        <div class="content">

            <h1 class="title">{{ .Title }}</h1>
            <h3 class="subtitle">{{ .Params.material }} by {{.Params.producer}}</h3>

            <div class="columns">
                <div class="column">
                    <figure class="image">
                        <img src="{{ .Params.thumbnail }}">
                    </figure>
                </div>
                <div class="column">
                    <p>
                        {{ range .Params.assets }}
                        <a href="{{ .filename }}" class="button">{{.name}}</a>
                        {{ end}}
                    </p>

                    <p>Producer: {{.Params.producer}}</p>
                    <p>Material: {{.Params.material}}</p>
                    <p>Name: {{.Title}}</p>
                </div>
            </div>





            {{ .Content }}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <a href="{{ .Site.BaseURL }}f/{{ .Params.id }}">{{ .Site.BaseURL }}f/{{ .Params.id }}</a> Permalink (short)
    </div>
</section>
{{ end }}